.form {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.required {
    color: red;
}

.error {
    color: red;
    font-size: smaller;
    font-style: italic;
}

label {
    font-weight: bold;
}

select,
input[type='text'],
input[type='number'],
input[type='date'],
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition-duration: 0.2s;
}

input:hover,
select:hover,
textarea:hover {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    transition-duration: 0.2s;
}

button[type='submit'] {
    margin-top: 1rem;
    color: #fff;
    background-color: #0B2447;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition-duration: 0.5s;
}

button[type='submit']:hover {
    color: #fff;
    background-color: #0056b2;
    border-color: #80bdff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition-duration: 0.5s;
}